#!/usr/bin/env bash

function ghqlook(){
    which ghq > /dev/null || (echo "ghq required" && return 1)
    which peco > /dev/null || (echo "peco required" && return 1)

    if [ $# -ne 0 ]
    then
        dest=$(ghq list -p | peco --query $1)
    else
        dest=$(ghq list -p | peco)
    fi

    len=${#dest}
    if [ $len -gt 0 ]
    then
        cd $dest
        return 0
    fi
    return 1
}

#arg: app store url
function ituneslookup(){
    local url=$1
    local id=$(echo $url | sed -e 's/.*\/id\([0-9]*\).*/\1/')
    local country=$(echo $url | sed -n 's/.*apps.apple.com\/\([a-z]*\)\/app.*/\1/p')
    if [ -z "$country" ]; then
        country=""
    fi
    local lookupurl="https://itunes.apple.com/$country/lookup?id=$id"
    curl -s "$lookupurl" | jq 
}