#!/usr/bin/env bash

# gl(ghq lookup) is a function to cd to a directory managed by ghq.
function gl(){
    which ghq > /dev/null || (echo "ghq required" && return 1)
    which peco > /dev/null || (echo "peco required" && return 1)

    if [ $# -ne 0 ]
    then
        dest=$(ghq list -p | peco --query $1)
    else
        dest=$(ghq list -p | peco)
    fi

    len=${#dest}
    if [ $len -gt 0 ]
    then
        cd $dest
        return 0
    fi
    return 1
}

#arg: app store url
function ituneslookup(){
    local url=$1
    local id=$(echo $url | sed -e 's/.*\/id\([0-9]*\).*/\1/')
    local country=$(echo $url | sed -n 's/.*apps.apple.com\/\([a-z]*\)\/app.*/\1/p')
    if [ -z "$country" ]; then
        country=""
    fi
    local lookupurl="https://itunes.apple.com/$country/lookup?id=$id"
    curl -s "$lookupurl" | jq 
}

# git repoのcoding agentのローカル設定を管理用リポジトリーから現在のディレクトリのgithub repoへのsym linkする
# 管理用レポジトリーのパスは $CODINGAGENT_LOCAL_SETTINGS に設定されている
# 管理用レポジトリでは、$CODINGAGENT_LOCAL_SETTINGS/github.com/hoge/fuga/.claude/settings.local.json のようなパスで管理されている
# これを現在のディレクトリの git config --get remote.origin.url から取得する
# remoteのURLがマッチしたものcluade codeのファイルをリンクする。今はclaude codeだけだが、将来的には他のcoding agentにも対応する

